.trade-in{
    padding: 0;
    margin: 0;
}
h2{
    padding: 0;
    margin: 0;  
}
.loader_img {
    background: url('https://d1jougtdqdwy1v.cloudfront.net/images/ajax-loader.gif') no-repeat center;
}